.en__component--row:nth-last-child(2) {
  background-color: white;
  margin-left: 0;
  max-width: 100%;
  padding-right: 0;
  justify-content: center;
}

.en__component--row:nth-last-child(2):after {
  content: none;
}

.en__component--row:nth-last-child(2) .en__component--column {
  max-width: 100%;
}

.hero {
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 40px;
  padding: 40px 80px;
}

.hero-text {
  max-width: 100%;
  text-align: left;
  width: 100%;
}

.hero-text-subtitle {
  font-size: 20px;
  margin-top: 15px;
}
input.quiz-answer-input {
  
}

input.quiz-answer-input:checked, input.quiz-answer-input:hover, label.quiz-answer-label:hover ~ input {
  border: 1px solid #ffffff !important;
}

label.quiz-answer-label {
  display: inline-block;
  font-size: 1.425rem !important;
  position: relative;
  margin-bottom: 5px;
  margin-left: -35px;
  max-width: 100%;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.quiz-answer-label:hover, input.quiz-answer-input:checked ~ label, input.quiz-answer-input:hover ~ label {
  border-radius: 5px;
  background: #D14900;
  color: #ffffff;
}

.quiz-col-left {
  flex-basis: 37%;
  margin-right: 40px;
}

.quiz-col-right {
  flex-basis: 63%;
}

.quiz-explanation {
  color: #EF662F;
  font-size: 1.425rem;
}

.quiz-question {
  display: flex;
  flex-direction: column;
}

.quiz-question-next {
  background-color: #d14900;
  border-radius: 7px;
  color: white;
  display: flex;
  font-size: 1.425rem;
  justify-content: center;
  line-height: 30px;
  margin: 20px 0 80px;
  max-width: 150px;
  padding: 10px 20px;
}

.quiz-question-number {
  font-weight: normal;
  margin-bottom: 15px;
}

.quiz-question-text {
  font-size: 1.425rem;
  font-weight: bold;
  line-height: 2rem;
}

.quiz-row {
  display: flex;
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .hero {
    background-size: cover;
    padding: 40px;
  }

  .hero-text {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  .quiz-col-left {
    margin-right: 0;
  }

  .quiz-row {
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .hero-text {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .hero-text {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .hero-text {
    max-width: 100%;
    width: 100%;
  }
}
