.en__component--row:nth-last-child(2) {
  background-color: white;
  margin-left: 0;
  max-width: 100%;
  justify-content: center;
}

.en__component--row:nth-last-child(2):after {
  content: none;
}

.en__component--row:nth-last-child(2) .en__component--column {
  max-width: 100%;
}

.hero {
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 40px;
  padding: 40px 80px;
}

.hero-text {
  max-width: 100%;
  text-align: left;
  width: 100%;
}

.hero-text-subtitle {
  font-size: 20px;
  margin-top: 15px;
}

.quiz-answer-input {
  
}

.quiz-answer-input:checked, .quiz-answer-input:hover, .quiz-answer-label:hover ~ input {
  border: 1px solid #ffffff !important;
}

.quiz-answer-label {
  display: inline-block;
  position: relative;
  margin-left: -35px;
  margin-right: 15px;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  margin-bottom: 5px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.quiz-answer-label:hover, .quiz-answer-input:checked ~ label, .quiz-answer-input:hover ~ label {
  border-radius: 5px;
  background: #D14900;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .hero {
    background-size: cover;
    padding: 40px;
  }
  .hero-text {
    display: block;
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .hero-text {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .hero-text {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .hero-text {
    max-width: 100%;
    width: 100%;
  }
}
