/* Gift Type (NB for donation pages this is Monthly/One-off, here for membership it is First-time member/Renewing) */
/* and Subscription Type */

.en__field--NOT_TAGGED_5 .en__field__item, .en__field--NOT_TAGGED_56 .en__field__item, .en__field--NOT_TAGGED_57 .en__field__item {
  width: 48% !important;
}

.en__field--NOT_TAGGED_5 input, .en__field--NOT_TAGGED_56 input, .en__field--NOT_TAGGED_57 input {
  display: none !important;
}

.en__field--NOT_TAGGED_5 label, .en__field--NOT_TAGGED_56 label, .en__field--NOT_TAGGED_57 label {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  width: 100% !important;
  border-radius: 5px;
  background-color: #DBDBDB !important;
  font-size: 1.2em !important;
  line-height: 2.3em !important;
}

.en__field--NOT_TAGGED_5 label:hover, .en__field--NOT_TAGGED_5 input:checked ~ label, .en__field--NOT_TAGGED_5 input:hover ~ label,
.en__field--NOT_TAGGED_56 label:hover, .en__field--NOT_TAGGED_56 input:checked ~ label, .en__field--NOT_TAGGED_56 input:hover ~ label,
.en__field--NOT_TAGGED_57 label:hover, .en__field--NOT_TAGGED_57 input:checked ~ label, .en__field--NOT_TAGGED_57 input:hover ~ label {
  background-color: #EF662F !important;
}

/* Additional donation */

.en__field--NOT_TAGGED_53 {
  background-color: #f4f4f4;
  padding: 15px 5% 0px 5%;
}

.en__field--NOT_TAGGED_53 label {
  font-size: 1.2em;
}

.en__field--NOT_TAGGED_53 .en__field__item {
  margin-right: 10px;
}
